/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* index.html start */

body {

    background-image: url("https://i.imgur.com/vYBFp99.png");
    background-color: #cccccc;
    height: 100%;
}


#holder {
    left 0;
    position: fixed;
    width: 100%;
    top: o;
}

header {
    background: #3d3d3d;
    border-top: solid 5px #e5e6e9;
    height: 115px;
    left 0;
    position: fixed;
    width: 100%;
    top: o;
    z-index:5;
}


#center {
    float:left;
    text-align: center;
    vertical-align: middle;
    width: 33%;
    height: 100%;
}

#left {
    float:left;
    width: 30%;
    height: 100%;
    margin-right: 3%;
}

#icon {
    float: right;
    margin-top: 38px;
    margin-right: 10px;
    margin-left: 10px; 
    cursor: pointer; 
    cursor: hand;
}

#icon:hover {
    opacity:0.6;
}

#right {
    float:right;
    width: 33%;
    height: 100%;
    color: white;
    font-size: 18px;
}

#login, #register {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin-top: 47px;
    margin-left: 5px;
    cursor: pointer; 
    cursor: hand;
    color: white;
}

#login:hover, #register:hover {
    opacity:0.6;
}

#black_overlay {
     background-color: #333;
     left: 0;
     opacity: 0.8;
     position: absolute;
     top: 0;
     visibility: hidden;
     z-index: 50;
}

.logindiv  {
    width:725px;
    height:385px;
    border:2px solid #a5a5a5;
    background-color:#dfdfdf;
    border-radius:3px;
    display:none;
    text-align:center;
    z-index:999;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.registerdiv  {
    width:725px;
    height:493px;
    border:2px solid #a5a5a5;
    background-color:#dfdfdf;
    border-radius:3px;
    display:none;
    text-align:center;
    z-index:999;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
 
.close {
    width: 40px;
    height: 40px;
    position: absolute;
    float: right;
    right: -20px;
    top: -20px;
}

#closeimg {
    width: 40px;
    height: 40px;
}

#closeimg:hover {
    cursor: pointer; 
    cursor: hand;
}

.loginheader {
    width: 725px;
    height: 75px;
    border-bottom: 2px solid black;
    font-size: 36px;
    font-weight: bold;
    line-height: 75px;
    margin-bottom: 30px;
}

#username, #password, #email, #confirmpassword {
    color: black;
    width: 675px;
    height: 50px;
    font-size: 26px;
    text-align: center;
    border: solid 1.5px black;
}

#password, #confirmpassword {
    -webkit-text-security: disc;
}

.passwordcheckbox {
    width: 40%;
    height: 35px;
    float: left;
    text-align: left;
    margin-left: 23px;
    font-size: 18px;
}

.checkbox {
    height: 25px;
    width: 25px;
    float: left;
}

.checkboxtext {
    float: left;
    margin-left: 5px;
    line-height: 28px;
}
 
.forgotpassword {
    width: 40%;
    height: 35px;
    float: right;
    text-align: right;
    margin-right: 27px;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer; 
    cursor: hand;
}

.forgotpassword:hover {
    opacity:0.6;
}

.loginbutton, .registerbutton {
    width: 46%;
    height: 60px;
    background-color: #3d3d3d;
    cursor: pointer; 
    cursor: hand;
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin-left: 27%;
    margin-right: 27%;
    line-height: 60px;
}

.loginbutton:hover, .registerbutton:hover {
    opacity:0.6;
}


#nav {
    width:1920;
    height: 51px;
    margin:0 auto;
    list-style:none;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    vertical-align: middle;
    padding: 0px 350px 0px 350px;
    box-shadow: 0px 1px 3px black;
    left 0;
    position: fixed;
    width: 100%;
    top: 115px;
    z-index:4;
}

#nav li {
    float:left;
}


#nav a {
    display:block;
    text-align:center;
    width:235px; /* fixed width */
    height: 51px;
    text-decoration:none; 
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    line-height: 51px;
}

#nav a:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    min-width: 160px;
    box-shadow: 0px 2px 5px black;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    display: block;
    text-align: left;
    float: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-top: solid 2px black;
}

.reviewsdropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-top: solid 2px black;
}

.dropdown-bar {
    display: none;
    position: absolute;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    width: 100%;
    height: 210px;
    box-shadow: 0px 2px 5px black;
    padding: 0 1000em; /* trick from css-tricks comments */ 
    margin: 0 -1000em; /* trick from css-tricks comments */
    border-bottom: solid 1px white;
}

.viewallbutton1 {
    display: inline-block;
    width: 175px;
    height: 30px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    border: solid 1px white;
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: relative !important;
    top: -38px;
    left: -206px;
    box-shadow: 0px 2px 5px black;
}

.viewallbutton2 {
    display: inline-block;
    width: 175px;
    height: 30px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    border: solid 1px white;
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: relative !important;
    top: -38px;
    left: -443px;
    box-shadow: 0px 2px 5px black;
}

.viewallbutton1:hover, .viewallbutton2:hover {
    opacity: 0.6;
    cursor: pointer; 
    cursor: hand;
}

#totwsilversbar {
    width: 100% !important;
    height: 210px !important;
    position: relative !important;
    left: -664px;
}

#tipstricksbar {
    width: 100% !important;
    height: 210px !important;
    position: relative !important;
    left: -901px;
}

#thumbnail {
    width: 260px;
    height: 155px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; 
    cursor: hand;
}

#thumbnail:hover {
    background-color: black;
    opacity:0.6;
}

#totwthumbnail1, #totwthumbnail2, #totwthumbnail3, #totwthumbnail4 {
    width: 260px;
    height: 155px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; 
    cursor: hand;
}

#totwthumbnail1:hover, #totwthumbnail2:hover, #totwthumbnail3:hover, #totwthumbnail4:hover {
    background-color: black;
    opacity:0.6;
}

#tipsthumbnail1, #tipsthumbnail2, #tipsthumbnail3, #tipsthumbnail4 {
    width: 260px;
    height: 155px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; 
    cursor: hand;
}

#tipsthumbnail1:hover, #tipsthumbnail2:hover, #tipsthumbnail3:hover, #tipsthumbnail4:hover {
    background-color: black;
    opacity:0.6;
}

.dropdown:hover .dropdown-bar {
    display: block;
    float: left;
}

#spacer {
    height: 166px;
    width: 100%;
}

#searchbox {
    width: 100%;
    height: 210px;
    background-color: #3d3d3d;
    text-align: center;
    color: white;
    font-size: 36px;
    line-height: 2.75em;
    font-family: 'Open sans'
}

#search {
    color: black;
    width: 700px;
    height: 45px;
    font-size: 26px;
    text-align: center;
    border: solid 1.5px black;
    text-transform: uppercase;
}

hr {
    display: block;
    margin-top: -15px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    width: 880px;
    background-color: white;
}

#thumbnails {
    width: 100%;
    height: 360px;
    text-align: center;
}

.largethumbnail {
    width: 493px;
    height: 293.6px;
    margin: 40px 20px 40px 20px;
    cursor: pointer; 
    cursor: hand;
}

.largethumbnail:hover {
    background-color: black;
    opacity:0.6;
}

#reviews {
    width: 100%;
    height: 340px;
    text-align: center;
    position: relative;
}

#topreviews, #recentreviews {
    width: 493px;
    height: 303px;
    background-color: white;
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 20px;
}

#topreviews {
    float: left;
    margin-left: 435px;
}

#recentreviews {
    float: right;
    margin-right: 435px;
}

#topreviewsheader, #recentreviewsheader {
    height: 60px;
    width: 493px;
    background-color: #3d3d3d; 
    border: solid 3px black;
    color: white;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
}

.topreviewstab1, .recentreviewstab1 {
    height: 47px;
    width: 493px;
    border-bottom: solid 1px black;
    position: absolute;
    cursor: pointer; 
    cursor: hand;
}

.topreviewstab2, .recentreviewstab2 {
    height: 47px;
    width: 493px;
    border-bottom: solid 1px black;
    position: absolute;
    margin-top: 47px;
    cursor: pointer; 
    cursor: hand;
}

.topreviewstab3, .recentreviewstab3 {
    height: 47px;
    width: 493px;
    border-bottom: solid 1px black;
    position: absolute;
    margin-top: 94px;
    cursor: pointer; 
    cursor: hand;
}

.topreviewstab4, .recentreviewstab4 {
    height: 47px;
    width: 493px;
    border-bottom: solid 1px black;
    position: absolute;
    margin-top: 141px;
    cursor: pointer; 
    cursor: hand;
}

.topreviewstab5, .recentreviewstab5 {
    height: 48px;
    width: 493px;
    border-bottom: solid 1px black;
    position: absolute;
    margin-top: 188px;
    cursor: pointer; 
    cursor: hand;
}

.topreviewsplayerimgdiv {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 46px;
    margin-left: 2px;
    float: left;
}

.topreviewsbadgediv {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 46px;
    float: left;
}

.topreviewsplayername {
    width: 290px;
    height: 48px;
    text-align: left;
    line-height: 48px;
    margin-left: 7px;
    float: left;
    font-size: 22px;
    color: black;
}

.topreviewsovrrating {
    width: 42px;
    height: 42px;
    line-height: 41px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dddddd, #a7a7a7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #a7a7a7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #a7a7a7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #a7a7a7); /* Standard syntax */
    color: white;
    font-weight: bold;
    font-size: 30px;
    -moz-box-shadow:    inset 0 0 10px gray;
    -webkit-box-shadow: inset 0 0 10px gray;
    box-shadow:         inset 0 0 10px gray; 
    text-align: center;
    float: right;
    margin-right: 3px;
    margin-top: 3px;
    text-shadow: 0px 2px 1px gray;
    font-family: 'Knul Bold';
}

.topreviewsflagdiv {
    width: 48px;
    height: 48px;
    margin-right: 2px;
    float: right;
}

#topreviewsflag {
    width: 48px;
    height: 48px;
}

#topreviewsplayerimg {
    width: 44px;
    height: 44px;
}

#topreviewsbadge {
    width: 40px;
    height: 40px;
}

.topreviewstab1:hover, .recentreviewstab1:hover, .topreviewstab2:hover, .recentreviewstab2:hover, .topreviewstab3:hover, .recentreviewstab3:hover, .topreviewstab4:hover, .recentreviewstab4:hover, .topreviewstab5:hover, .recentreviewstab5:hover {
    opacity:0.8;
    background-color: #e5e6e9;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

footer {
    background-color: #3d3d3d;
    width: 100%;
    height: 80px;
    border-top: solid 5px #e5e6e9;
    border-bottom: solid 5px #e5e6e9;
}

#centerfooter {
    float:left;
    text-align: center;
    vertical-align: middle;
    width: 33%;
    height: 15px;
    color: white;
    font-size: 16px;
    margin-top: 32px;
}

#leftfooter {
    float:left;
    width: 30%;
    margin-right: 3%;
    height: 80px;
}

#iconfooter {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer; 
    cursor: hand; 
}

#rightfooter {
    float:right;
    width: 30%;
    margin-left: 3%;
    height: 100%;
    color: white;
    font-size: 16px;
}

#backtotop, #about, #footerspacer {
    display: inline-block;
    margin-top: 32px;
    margin-left: 10px;
    cursor: pointer; 
    cursor: hand;
}

#backtotop:hover, #about:hover, #footerspacer:hover {
    opacity:0.6;
}

#iconfooter:hover {
    opacity:0.6;
}

/* index.html end */

/* playerpage.html start */

#playerinfo {
    width: 100%;
    height: 490px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#ingamestats {
    width: 100%;
    height: 490px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    border-bottom: solid 2px white;
}

#playerheader {
    width: 1188px;
    height:80px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 350px;
    margin-right: 352px;
}

#leftplayerheader {
    float:left;
    width: 33%;
    height: 100%;
}

#centerplayerheader {
    float:left;
    width: 33%;
    height: 100%;
}

#rightplayerheader {
    float:right;
    width: 33%;
    height: 100%;
}

#reviewsbutton, #similarbutton {
    display: inline-block;
    background-color: #3d3d3d;
    width: 110px;
    height: 45px;
    margin-left: 20px;
    color: white !important;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer; 
    cursor: hand;
}

#reviewsbutton:hover, #similarbutton:hover {
    opacity:0.6;
}

#playername {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-top: 7px;
    text-transform: uppercase;
}

.cardtype {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer; 
    cursor: hand;
}

.cardtype:hover {
    opacity: 0.6;
}

#thumbsup, #total, #thumbsdown {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 22px;
    margin-top: 19px;
    margin-bottom: 19px;
    opacity:0.6;
    z-index:-1;
}

#total {
    line-height: 48px;
}

#thumbsdown:hover, #thumbsup:hover {
    opacity:1;
    cursor: pointer; 
    cursor: hand;
}

#playercardinfo {
    width: 1188px;
    height:410px;
    margin-left: 350px;
    margin-right: 352px;
}

#playercard {
    width: 280px;
    height: 100%;
    text-align: center;
    position: relative;
}

#playercardarea {
    width: 232px;
    height: 360px;
    z-index: 1;
    margin-left: 26px;
    margin-right: 26px;
}

#card {
    width: 232px;
    height: 360px;
    margin-top: 20px;
    z-index: 1;
}

#playerimgdiv {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    margin-left: 126px;
    margin-top: 77px;
}

#playerimg {
    width: 125px;
    height: 125px;
}

#playerrating {
    color: black;
    font-size: 38px;
    z-index: 2;
    position: absolute;
    top: 45px;
    left: 76px;
    width: 38px;
    height: 38px;
    font-family: 'Knul Extra Bold';
}

.position {
    color: black;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 83px;
    left: 73px;
    width: 45px;
    height: 22px;
    font-family: 'Knul Extra Bold';
    text-transform: uppercase;
    text-align: center;
}

.playerclub {
    z-index: 2;
    position: absolute;
    top: 110px;
    left: 74px;
    width: 42px;
    height: 42px;
}

#badge {
    width: 42px;
    height: 42px; 
}

.playerflag {
    z-index: 2;
    position: absolute;
    top: 145px;
    left: 65px;
    width: 60px;
    height: 60px;
}

#flag {
    width: 60px;
    height: 60px;
}

#cardname {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 201px;
    z-index: 2;
    position: absolute;
    width: 232px;
    text-transform: uppercase;
}

/* Card Attributes */

#pacetag {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: left;
    top: 228px;
    left: 98px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#dribblingtag {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: left;
    top: 228px;
    left: 178px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#shootingtag {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: left;
    top: 256px;
    left: 98px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#defendingtag {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: left;
    top: 256px;
    left: 178px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#passingtag {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: left;
    top: 284px;
    left: 98px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#physicaltag {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: left;
    top: 284px;
    left: 178px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

/* Card Stats */

#pace {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 228px;
    left: 60px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#dribbling {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 228px;
    left: 140px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#shooting {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 256px;
    left: 60px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#defending {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 256px;
    left: 140px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#passing {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 284px;
    left: 60px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

#physical {
    font-family: 'Knul Bold';
    font-size: 22px;
    text-align: center;
    top: 284px;
    left: 140px;
    z-index: 2;
    position: absolute;
    width: 40px;
}

.playerinfoleft {
    width: 454px;
    height: 100%;
    float: right;
    position: relative;
}

.playerinforight {
    width: 454px;
    height: 100%;
    float: right;
    position: relative;
}

/* Player Info Left */

.overalldiv {
    height: 46px;
    width: 400px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 60px;
}

.clubdiv {
    height: 46px;
    width: 400px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 27px;
    margin-right: 27px;
}

.leaguediv {
    height: 46px;
    width: 400px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 27px;
    margin-right: 27px;
}

.nationdiv {
    height: 46px;
    width: 400px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 27px;
    margin-right: 27px;
}

.agediv {
    height: 46px;
    width: 400px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 27px;
    margin-right: 27px;
}

.heightdiv {
    height: 46px;
    width: 400px;
    margin-left: 27px;
    margin-right: 27px;
    border-bottom: solid 2px #e5e6e9 transparent;
}

.overall {
    width: 80px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.club {
    width: 80px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.league {
    width: 80px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.nation {
    width: 80px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.age {
    width: 80px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.height {
    width: 80px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.overallright {
    width: 35px;
    height: 35px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dddddd, #a7a7a7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #a7a7a7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #a7a7a7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #a7a7a7); /* Standard syntax */
    color: white;
    font-weight: bold;
    font-size: 24px;
    -moz-box-shadow:    inset 0 0 10px gray;
    -webkit-box-shadow: inset 0 0 10px gray;
    box-shadow:         inset 0 0 10px gray; 
    text-align: center;
    float: right;
    margin-right: 7px;
    margin-top: 5px;
    text-shadow: 0px 2px 1px gray;
    line-height: 33px;
    font-family: 'Knul Bold';
}

.righttext {
    float: right;
    width: 200px;
    text-align: right;
    margin-right: 15px;
    font-size: 16px;
    line-height: 48px;
    font-weight: bold;
}

.clubrightimg {
    float: right;
    text-align: left;
    margin-right: 7px;
    font-size: 16px;
    line-height: 45px;
    font-weight: bold;
    width: 35px;
    height: 35px;
}

#rightimg {
    width: 35px;
    height: 35px;
}

.headersrightdiv {
    width: 250px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.righttextrightdiv {
    float: right;
    width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 16px;
    line-height: 48px;
    font-weight: bold;
}

.traitsrightdiv {
    float: right;
    width: 310px;
    text-align: right;
    margin-right: 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.traitslabeldiv {
    width: 70px;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

.skillmovesvaluediv, .weakfootvaluediv {
    float: right;
    width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 16px;
    line-height: 48px;
    font-weight: bold;
    display: none;
}

#skillmoveslabeldiv, #weakfootlabeldiv {
    width: 250px !important;
    text-align: left;
    margin-left: 7px;
    font-size: 16px;
    line-height: 50px;
}

#skillmoves1, #skillmoves2, #skillmoves3, #skillmoves4, #skillmoves5 {
    float: right;
    width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 22px;
    line-height: 48px;
    font-weight: bold;
    display: none;
}

#weakfoot1, #weakfoot2, #weakfoot3, #weakfoot4, #weakfoot5 {
    float: right;
    width: 100px;
    text-align: right;
    margin-right: 15px;
    font-size: 22px;
    line-height: 48px;
    font-weight: bold;
    display: none;
}

/* In Game Stats */

.ingamesheader {
    width: 1188px;
    height:80px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 350px;
    margin-right: 352px;
}

.ingamestatsheader {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
}

.totalstatsheader {
    text-align: center;
    font-size: 18px;
    margin-top: 11px;
}

.totalstatsnumber {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
}

.ingamesdiv {
    width: 1188px;
    height: 410px;
    position: relative;
    margin-left: 350px;
    margin-right: 352px;
}

.statboxleft1 {
    height: 135px;
    width: 15%;
    position: relative;
    float: left;
    margin-left: 17px;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

.statboxleft2 {
    height: 270px;
    width: 15%;
    position: relative;
    float: left;
    margin-left: 17px;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

.statboxleft3 {
    height: 315px;
    width: 15%;
    position: relative;
    float: left;
    margin-left: 17px;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

.statboxright1 {
    height: 270px;
    width: 15%;
    position: relative;
    float: right;
    margin-right: 17px;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

.statboxright2 {
    height: 315px;
    width: 15%;
    position: relative;
    float: right;
    margin-right: 17px;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

.statboxright3 {
    height: 225px;
    width: 15%;
    position: relative;
    float: right;
    margin-right: 17px;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

#paceheader, #dribblingheader, #shootingheader, #defendingheader, #passingheader, #physicalheader {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
}


#accelerationdiv, #sprintspeeddiv, #agilitydiv, #balancediv, #reactionsdiv, #ballcontroldiv, #dribblingstatdiv, #attpositioningdiv, #finishingdiv, #shotpowerdiv, #longshotsdiv, #volleysdiv, #penaltiesdiv, #interceptionsdiv, #headingaccdiv, #markingdiv, #standingtacklediv, #slidingtacklediv, #visiondiv, #crossingdiv, #freekickaccdiv, #shortpassingdiv, #longpassingdiv, #curvediv, #jumpingdiv, #staminadiv, #strengthdiv, #aggressiondiv {
    width: 100%;
    height: 45px;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
}


.stattext {
    width: 110px;
    height: 41px;
    float: left;
    margin-left: 10px;
    text-align: left;
    line-height: 41px;
    color: white;
}

.pacenumber, .dribblingnumber, .shootingnumber, .defendingnumber, .passingnumber, .physicalnumber {
    width: 41px;
    height: 39px;
    float: right;
    margin-right: 6px;
    margin-top: 2px;
    text-align: center;
    line-height: 39px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.accelerationtext, .sprintspeedtext, .agilitytext, .balancetext, .reactionstext, .ballcontroltext, .dribblingstattext, .attpositioningtext, .finishingtext, .shotpowertext, .longshotstext, .volleystext, .penaltiestext, .interceptionstext, .headingacctext, .markingtext, .standingtackletext, .slidingtackletext, .visiontext, .crossingtext, .freekickacctext, .shortpassingtext, .longpassingtext, .curvetext, .jumpingtext, .staminatext, .strengthtext, .aggressiontext {
    width: 115px;
    height: 45px;
    float: left;
    margin-left: 10px;
    text-align: left;
    line-height: 45px;
    color: black;
}

.accelerationnumber, .sprintspeednumber, .agilitynumber, .balancenumber, .reactionsnumber, .ballcontrolnumber, .dribblingstatnumber, .attpositioningnumber, .finishingnumber, .shotpowernumber, .longshotsnumber, .volleysnumber, .penaltiesnumber, .interceptionsnumber, .headingaccnumber, .markingnumber, .standingtacklenumber, .slidingtacklenumber, .visionnumber, .crossingnumber, .freekickaccnumber, .shortpassingnumber, .longpassingnumber, .curvenumber, .jumpingnumber, .staminanumber, .strengthnumber, .aggressionnumber {
    width: 43px;
    height: 43px;
    float: right;
    margin-right: 6px;
    margin-top: 2px;
    text-align: center;
    line-height: 43px;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

/* Player Reviews Page */

.reviewsdiv {
    width: 100%;
    height: 1500px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

.reviewbuttonsdiv {
    height: 120px;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
}

.createreview {
    width: 412px;
    height: 65px;
    background-color: #3d3d3d;
    float: left;
    color: white;
    margin-left: 100px;
    margin-top: 27.5px;
    margin-bottom: 27.5px;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    cursor: pointer; 
    cursor: hand;
}

.editreview {
    width: 412px;
    height: 65px;
    background-color: #3d3d3d;
    float: right;
    color: white;
    margin-right: 100px;
    margin-top: 27.5px;
    margin-bottom: 27.5px;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    cursor: pointer; 
    cursor: hand;
}

.editreview:hover, .createreview:hover {
    opacity: 0.6;
}

.reviewbox1, .reviewbox2, .reviewbox3, .reviewbox4  {
    height: 280px;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    margin-top: 5px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.reviewcarddiv {
    height: 100%;
    width: 200px;
    text-align: center;
    position: relative;
}

.reviewcardarea {
    height: 275px;
    width: 178.5px;
    z-index: 1;
    margin-left: 10.75px;
    margin-right: 10.75px;
}

#reviewcard {
    height: 275px;
    width: 178.5px;
}


/* divided by 1.36 */

#reviewplayerimgdiv {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 94px;
    height: 94px;
    margin-left: 90px;
    margin-top: 45px;
}

#reviewplayerimg {
    width: 94px;
    height: 94px;
}

#reviewplayerrating {
    color: black;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    top: 18px;
    left: 50px;
    width: 30px;
    height: 30px;
    font-family: 'Knul Extra Bold';
}

.reviewposition {
    color: black;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    top: 48px;
    left: 42px;
    width: 45px;
    height: 22px;
    font-family: 'Knul Extra Bold';
    text-transform: uppercase;
    text-align: center;
}

.reviewplayerclub {
    z-index: 2;
    position: absolute;
    top: 70px;
    left: 49px;
    width: 31px;
    height: 31px;
}

#reviewbadge {
    width: 31px;
    height: 31px; 
}

.reviewplayerflag {
    z-index: 2;
    position: absolute;
    top: 97px;
    left: 43px;
    width: 44px;
    height: 44px;
}

#reviewflag {
    width: 44px;
    height: 44px;
}

.reviewcardname {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 138.5px;
    z-index: 2;
    position: absolute;
    width: 178.5px;
}

/* Card Attributes */

.reviewpacetag, .ifreviewpacetag {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: left;
    top: 160px;
    left: 67px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewdribblingtag, .ifreviewdribblingtag {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: left;
    top: 160px;
    left: 127px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewshootingtag, .ifreviewshootingtag {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: left;
    top: 181px;
    left: 67px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewdefendingtag, .ifreviewdefendingtag {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: left;
    top: 181px;
    left: 127px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewpassingtag, .ifreviewpassingtag {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: left;
    top: 202px;
    left: 67px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewphysicaltag, .ifreviewphysicaltag {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: left;
    top: 202px;
    left: 127px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

/* Card Stats */

.reviewpace, .ifreviewpace {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 160px;
    left: 39px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewdribbling, .ifreviewdribbling {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 160px;
    left: 99px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewshooting, .ifreviewshooting {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 181px;
    left: 39px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewdefending, .ifreviewdefending {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 181px;
    left: 99px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewpassing, .ifreviewpassing {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 202px;
    left: 39px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewphysical, .ifreviewphysical {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 202px;
    left: 99px;
    z-index: 2;
    position: absolute;
    width: 30px;
}

.reviewinfodiv {
    height: 100%;
    width: 660px;
    float: right;
    margin-left: 64px;
    margin-right: 64px;
}

.reviewratingdiv {
    height: 100%;
    width: 110px;
    float: right;
    margin-left: 90px;
}

.reviewtitle {
    height: 45px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    margin-top: 7px;
}

.reviewusername {
    height: 27px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
}

.reviewdivmiddleinfo {
    width: 100%;
    height: 115px;
}

.reviewplayerquality {
    width: 33%;
    float: left;
}

.playerqualityheader, .playerpositionheader, .playerformationheader {
    width: 100%;
    height: 45px;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
}

.playerqualitystars {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    border-bottom: solid 15px transparent;
}

.playerqualityvalue, .playerqualityvalue2, .playerqualityvalue3, .playerqualityvalue4 {
    display: none;
}

#yellowstar1, #yellowstar2, #yellowstar3, #yellowstar4, #yellowstar5 {
    width: 30px;
    height: 30px;
    display: none;
}

#graystar1, #graystar2, #graystar3, #graystar4, #graystar5 {
    width: 35px;
    height: 35px;
    display: none;
}

#yellowstar1review2, #yellowstar2review2, #yellowstar3review2, #yellowstar4review2, #yellowstar5review2 {
    width: 30px;
    height: 30px;
    display: none;
}

#graystar1review2, #graystar2review2, #graystar3review2, #graystar4review2, #graystar5review2 {
    width: 35px;
    height: 35px;
    display: none;
}

#yellowstar1review3, #yellowstar2review3, #yellowstar3review3, #yellowstar4review3, #yellowstar5review3 {
    width: 30px;
    height: 30px;
    display: none;
}

#graystar1review3, #graystar2review3, #graystar3review3, #graystar4review3, #graystar5review3 {
    width: 35px;
    height: 35px;
    display: none;
}

#yellowstar1review4, #yellowstar2review4, #yellowstar3review4, #yellowstar4review4, #yellowstar5review4 {
    width: 30px;
    height: 30px;
    display: none;
}

#graystar1review4, #graystar2review4, #graystar3review4, #graystar4review4, #graystar5review4 {
    width: 35px;
    height: 35px;
    display: none;
}

.reviewpositiondiv {
    width: 34%;
    float: left;
}

.playerposition, .playerformation {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: black;
    border-bottom: solid 10px transparent;
}

.reviewformation {
    width: 33%;
    float: right;
}

.readreview {
    width: 296px;
    height: 54px;
    background-color: #3d3d3d;
    float: left;
    color: white;
    margin-left: 182px;
    margin-right: 182px;
    font-weight: bold;
    font-size: 26px;
    line-height: 54px;
    text-align: center;
    cursor: pointer; 
    cursor: hand;
}

.readreview:hover {
    opacity: 0.6;
}

.reviewuparrow {
    width: 100%;
    height: 33%;
    text-align: center;
    line-height: 92px;
}

.reviewscore {
    width: 100%;
    height: 34%;
    text-align: center;
    font-size: 60px;
    line-height: 95px;
    color: black;
    font-weight: bold;
}

.reviewdownarrow {
    width: 100%;
    height: 33%;
    text-align: center;
    line-height: 92px;
}

#greenarrow, #redarrow {
    opacity: 0.6;
    width: 60px;
    height: 60px;
}

#greenarrow:hover, #redarrow:hover {
    opacity: 1;
    cursor: pointer; 
    cursor: hand;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* Review Template */

.reviewstemplatediv {
    width: 100%;
    height: 100%;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

.backbutton {
    display: inline-block;
    background-color: #3d3d3d;
    width: 200px;
    height: 45px;
    margin-left: 20px;
    color: white !important;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer; 
    cursor: hand;
    float: left;
}

.nextreviewbutton {
    display: inline-block;
    background-color: #3d3d3d;
    width: 200px;
    height: 45px;
    margin-right: 20px;
    color: white !important;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer; 
    cursor: hand;
    float: right;
}

.backbutton:hover, .nextreviewbutton:hover {
    opacity:0.6;
}

.pricepaidbox {
    height: 125px;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.pricepaidleft {
    width: 50%;
    height: 100%;
    float: left;
}

.pricepaidright {
    width: 50%;
    height: 100%;
    float: right;
}

.boughtforheader, .platformheader {
    width: 100%;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.platformdiv, .pricepaiddiv {
    width: 100%;
    height: 97.5px;
}

.platform {
    display: none;
}

.platformimages {
    width: 100%;
    height: 75px;
}

#xboxlogo, #playstationlogo, #originlogo {
    width: 250px;
    height: 75px;
    display: none;
    margin:auto;
}

.pricepaid {
    width: 58%;
    height: 75px;
    line-height: 75px;
    font-size: 40px;
    text-align: right;
    float: left;
    border-right: solid 1% transparent;
    color: black;
}

.coinimagediv {
    width: 42%;
    height: 75px;
    line-height: 72px;
    text-align: left;
    float: right;
}

#coinimage {
    width: 40px;
    height: 40px;
}


.reviewsquadbox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.squadboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.squadimagediv {
    height: 500px;
    width: 720px;
    display:block;
    margin:auto;
}

#squadimage {
    height: 500px;
    width: 720px;
    box-shadow: 0px 2px 5px black;
}

.squaddescription {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 22px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

/* Pace Review Section */

.reviewpacebox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.paceboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.reviewpaceingames {
    width: 495px;
    height: 45px;
    border-left: solid 346.5px transparent;
    border-right: solid 346.5px transparent;
}

.reviewpaceingamesbox {
    height: 45px;
    width: 495px;
    float: left;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}
#reviewpaceheader {
    width: 165px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    display: inline-block;
}

.reviewstattext {
    width: 110px;
    height: 41px;
    float: left;
    margin-left: 10px;
    text-align: left;
    line-height: 41px;
    color: white;
}

.reviewpacenumber, .reviewdribblingnumber, .reviewshootingnumber, .reviewdefendingnumber, .reviewpassingnumber, .reviewphysicalnumber {
    width: 38px;
    height: 39px;
    float: right;
    margin-right: 3px;
    margin-top: 2px;
    text-align: center;
    line-height: 39px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#reviewaccelerationdiv, #reviewsprintspeeddiv, #reviewattpositioningdiv, #reviewfinishingdiv, #reviewshotpowerdiv, #reviewlongshotsdiv, #reviewvolleysdiv, #reviewpenaltiesdiv, #reviewinterceptionsdiv, #reviewheadingaccdiv, #reviewmarkingdiv, #reviewstandingtacklediv, #reviewslidingtacklediv, #reviewvisiondiv, #reviewcrossingdiv, #reviewfreekickaccdiv, #reviewshortpassingdiv, #reviewlongpassingdiv, #reviewcurvediv, #reviewjumpingdiv, #reviewstaminadiv, #reviewstrengthdiv, #reviewaggressiondiv {
    width: 165px;
    height: 45px;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 0.5px solid gray;
    background-color: gray;
    float: right;
    display: inline-block;
}

.reviewaccelerationtext, .reviewsprintspeedtext, .reviewagilitytext, .reviewbalancetext, .reviewreactionstext, .reviewballcontroltext, .reviewdribblingstattext, .reviewattpositioningtext, .reviewfinishingtext, .reviewshotpowertext, .reviewlongshotstext, .reviewvolleystext, .reviewpenaltiestext, .reviewinterceptionstext, .reviewheadingacctext, .reviewmarkingtext, .reviewstandingtackletext, .reviewslidingtackletext, .reviewvisiontext, .reviewcrossingtext, .reviewfreekickacctext, .reviewshortpassingtext, .reviewlongpassingtext, .reviewcurvetext, .reviewjumpingtext, .reviewstaminatext, .reviewstrengthtext, .reviewaggressiontext {
    width: 115px;
    height: 45px;
    float: left;
    margin-left: 10px;
    text-align: left;
    line-height: 45px;
    color: black;
}

.reviewaccelerationnumber, .reviewsprintspeednumber, .reviewagilitynumber, .reviewbalancenumber, .reviewreactionsnumber, .reviewballcontrolnumber, .reviewdribblingstatnumber, .reviewattpositioningnumber, .reviewfinishingnumber, .reviewshotpowernumber, .reviewlongshotsnumber, .reviewvolleysnumber, .reviewpenaltiesnumber, .reviewinterceptionsnumber, .reviewheadingaccnumber, .reviewmarkingnumber, .reviewstandingtacklenumber, .reviewslidingtacklenumber, .reviewvisionnumber, .reviewcrossingnumber, .reviewfreekickaccnumber, .reviewshortpassingnumber, .reviewlongpassingnumber, .reviewcurvenumber, .reviewjumpingnumber, .reviewstaminanumber, .reviewstrengthnumber, .reviewaggressionnumber {
    width: 35px;
    height: 43px;
    float: right;
    margin-right: 3px;
    margin-top: 2px;
    text-align: center;
    line-height: 43px;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

/* Dribbling Review Section */

.reviewdribblingbox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.dribblingboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.reviewdribblingingames {
    width: 990px;
    height: 45px;
    border-left: solid 99px transparent;
    border-right: solid 99px transparent;
}

.reviewdribblingingamesbox {
    height: 45px;
    width: 990px;
    float: left;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}
#reviewdribblingheader {
    width: 165px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    display: inline-block;
}

#reviewagilitydiv, #reviewbalancediv, #reviewreactionsdiv, #reviewballcontroldiv, #reviewdribblingstatdiv {
    width: 165px;
    height: 45px;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 0.5px solid gray;
    background-color: gray;
    float: right;
    display: inline-block;
}

/* Shooting Review Section */

.reviewshootingbox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.shootingboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.reviewshootingingames {
    width: 1155px;
    height: 45px;
    border-left: solid 16.5px transparent;
    border-right: solid 16.5px transparent;
}

.reviewshootingingamesbox {
    height: 45px;
    width: 1155px;
    float: left;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}
#reviewshootingheader {
    width: 165px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    display: inline-block;
}

/* Defending Review Section */

.reviewdefendingbox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.defendingboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.reviewdefendingingames {
    width: 990px;
    height: 45px;
    border-left: solid 99px transparent;
    border-right: solid 99px transparent;
}

.reviewdefendingingamesbox {
    height: 45px;
    width: 990px;
    float: left;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}
#reviewdefendingheader {
    width: 165px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    display: inline-block;
}


/* Passing Review Section */

.reviewpassingbox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.passingboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.reviewpassingingames {
    width: 1155px;
    height: 45px;
    border-left: solid 16.5px transparent;
    border-right: solid 16.5px transparent;
}

.reviewpassingingamesbox {
    height: 45px;
    width: 1155px;
    float: left;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

#reviewpassingheader {
    width: 165px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    display: inline-block;
}


/* Physical Review Section */

.reviewphysicalbox {
    height: 100%;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.physicalboxheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.reviewphysicalingames {
    width: 825px;
    height: 45px;
    border-left: solid 181.5px transparent;
    border-right: solid 181.5px transparent;
}

.reviewphysicalingamesbox {
    height: 45px;
    width: 825px;
    float: left;
    top: 45px;
    box-shadow: 0px 1px 3px black;
}

#reviewphysicalheader {
    width: 165px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    background-color: gray;
    box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: inset 0 -10px 20px -10px white;
    -webkit-box-shadow: inset 0 -10px 20px -10px white;
    box-shadow: inset 0 -10px 20px -10px white;
    display: inline-block;
}

/* Positives & Negatives */

.posnegbox {
    height: 365px;
    width: 1188px;
    margin-left: 350px;
    margin-right: 352px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

.positives {
    float: left;
    width: 46%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 1.5%;
    border-bottom: solid 20px transparent;
}

.negatives {
    float: left;
    width: 46%;
    height: 100%;
    margin-left: 1.5%;
    margin-right: 2.5%;
    border-bottom: solid 20px transparent;
}

.positivesheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
    border-bottom: solid 2px green;
    color: black;
}

.negativesheader {
    width: 100%;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: black;
    border-bottom: solid 2px red;
}

.positivepoint, .negativepoint {
    border-bottom: solid 1px black;
    width: 100%;
    height: 50px;
}

.positiveplus {
    font-size: 32px;
    color: green;
    float: left;
    display: inline-block;
    margin-left: 3%;
    width: 5%;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}

.negativeminus {
    font-size: 32px;
    color: red;
    float: left;
    display: inline-block;
    margin-left: 3%;
    width: 5%;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
}

.positivepointtext, .negativepointtext {
    font-size: 22px;
    float: left;
    margin-left: 2%;
    margin-right: 3%;
    width: 87%;
    text-align: left;
    color: black;
    line-height: 50px;
    height: 50px;
}

.reviewcommentsection {
    width: 1188px;
    height: 200%;
    text-align: center;
    margin-left: 350px;
    margin-right: 352px;
}

#commentbox {
    height: 100%;
    width: 1185px;
    border: solid 2px #3d3d3d;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    font-size: 24px;
    text-align: left;
    display: inline-block;
}

#submitbutton {
    width: 25%;
    height: 50px;
    background-color: #3d3d3d;
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}

#submitbutton:hover {
    opacity: 0.6;
}

/*.reviewcommentbox {
    width: 100%;
    height: 100%;
}*/


/* Similar Players Page */

.similarplayersdiv {
    width: 100%;
    height: 1020px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

.playercardsimilar {
    width: 285px;
    height: 98%;
    text-align: center;
    position: relative;
    border-right: solid 2px #3D3D3D;
    float: left;
}

.playercardinfosimilar {
    width: 1188px;
    height: 940px;
    margin-left: 350px;
    margin-right: 352px;
}

.similarplayersrow1, .similarplayersrow2, .similarplayersrow3 {
    width: 901px;
    height: 280px; 
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rowcard1 {
    width: 200px;
    height: 280px;
    margin-left: 20.2px;
    margin-right: 10.1px;
    float: left;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
}

.rowcard2, .rowcard3 {
    width: 200px;
    height: 280px;
    margin-left: 10.1px;
    margin-right: 10.1px;
    float: left;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
}

.rowcard4 {
    width: 200px;
    height: 280px;
    margin-left: 10.1px;
    margin-right: 20.1px;
    float: left;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
}

#similarcard {
    height: 275px;
    width: 178.5px;
}

.rowcard1:hover, .rowcard2:hover, .rowcard3:hover, .rowcard4:hover {
    transform: scale(1.075);
    cursor: pointer; 
    cursor: hand;
}

.rowcardname, .ifrowcardname {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 138.5px;
    z-index: 2;
    position: absolute;
    width: 200px;
    text-transform: uppercase;
}

/* Inform Silvers Page */



#informplayerheader {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    height: 100%;
    line-height: 80px;
}

.informsilversdiv {
    width: 100%;
    height: 1030px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

.allsilversdiv {
    width: 100%;
    height: 1875px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

.playercardinform {
    width: 285px;
    height: 98%;
    text-align: center;
    position: relative;
    border-right: solid 2px #3D3D3D;
    float: left;
}

.playercardinfosimilar {
    width: 1188px;
    height: 940px;
    margin-left: 350px;
    margin-right: 352px;
}

.informplayersrow1 {
    width: 1188px;
    height: 280px; 
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.informplayersrow2, .informplayersrow3, .informplayersrow4 {
    width: 1188px;
    height: 280px; 
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rowcard1 {
    width: 200px;
    height: 280px;
    margin-left: 53.6px;
    margin-right: 10.1px;
    float: left;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
}

.rowcard2, .rowcard3, .rowcard4 {
    width: 200px;
    height: 280px;
    margin-left: 10.1px;
    margin-right: 10.1px;
    float: left;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
}

.rowcard5 {
    width: 200px;
    height: 280px;
    margin-left: 10.1px;
    margin-right: 53.6px;
    float: left;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
}

#similarcard {
    height: 275px;
    width: 178.5px;
}

.rowcard1:hover, .rowcard2:hover, .rowcard3:hover, .rowcard4:hover, .rowcard5:hover {
    transform: scale(1.075);
    cursor: pointer; 
    cursor: hand;
}

.rowcardname {
    font-family: 'Knul Bold';
    font-size: 17px;
    text-align: center;
    top: 138.5px;
    z-index: 2;
    position: absolute;
    width: 200px;
}

.allsilversspacer {
    height: 100%;
    width: 100%;
}

#rightarrow, #rightarrow2 {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50%;
    right: 300px;
    transition: all .2s ease-in-out;
}

#leftarrow, #leftarrow2 {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 300px;
    transition: all .2s ease-in-out;
}

#rightarrow:hover, #rightarrow2:hover, #leftarrow:hover, #leftarrow2:hover {
    transform: scale(1.3);
    cursor: pointer; 
    cursor: hand;
    opacity: 0.6;
}


.allsilversplayersfooter {
    display: block;
}

#allsilversdivpage1 {
    width: 100%;
    height: 1875px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#allsilversdivpage2 {
    width: 100%;
    height: 1875px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#allsilversdivpage3 {
    width: 100%;
    height: 1600px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#all5starskillersdiv {
    width: 100%;
    height: 1000px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

/* oops message */

#oopsmessagediv {
    width: 950px;
    height: 75px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    position: fixed;
    left: 50%;
    top: 50%; 
    font-family: 'Open sans';
    text-transform: uppercase;
    text-align: center;
    line-height: 75px;
    font-size: 24px;
    margin-left: -475px;
    margin-top: -37.5px;
    cursor: pointer; 
    cursor: hand;
    font-weight: bold;
    border: solid 4px silver;
    display: none;
}

#oopsmessagedivbackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    display: none;
}


/* TOTW Pages */

#totw1div {
    width: 100%;
    height: 1400px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#totw2div {
    width: 100%;
    height: 1400px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#totw3div {
    width: 100%;
    height: 1050px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

#alltotwsdiv {
    width: 100%;
    height: 875px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
}

.totwheaderbackground {
    width: 100%;
    height: 80px;
    border-bottom: solid 2px #3d3d3d;
    position: fixed;
    z-index: 3;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
}

#totwplayerheader {
    width: 1188px;
    height:80px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 350px;
    margin-right: 352px;
    position: fixed;
    z-index: 3;
}

.totwheaderspacer {
    width: 1188px;
    height:80px;
    margin-left: 350px;
    margin-right: 352px;
}

#totwplayerheader {
    width: 1188px;
    height:80px;
    border-bottom: solid 2px #3d3d3d;
    margin-left: 350px;
    margin-right: 352px;
    
}

#lefttotwheader {
    float:left;
    width: 18%;
    height: 100%;
}

#centertotwheader {
    float:left;
    width: 64%;
    height: 100%;
}

#informplayerheader {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    height: 100%;
    line-height: 80px;
}

#righttotwheader {
    float:right;
    width: 18%;
    height: 100%;
}

#alltotwbutton, #nexttotwbutton {
    display: inline-block;
    background-color: #3d3d3d;
    width: 150px;
    height: 45px;
    margin-left: 20px;
    color: white !important;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer; 
    cursor: hand;
    float: left;
}

#nexttotwbutton {
    display: inline-block;
    background-color: #3d3d3d;
    width: 150px;
    height: 45px;
    margin-right: 20px;
    color: white !important;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer; 
    cursor: hand;
    float: right;
}

#alltotwbutton:hover, #nexttotwbutton:hover {
    opacity:0.6;
}

.totwplayersrow1 {
    width: 1188px;
    height: 280px; 
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
    z-index: -1;
}

.totwplayerdescription {
    width: 830.7px;
    height: 280px;
    margin-left: 20px;
    margin-right: 73.6px;
    float: left;
    text-align: center;
    position: relative;
}

.totwplayerdescriptionheader {
    width: 100%;
    height: 50px;
}

.totwplayerovrrating {
    width: 42px;
    height: 42px;
    line-height: 41px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(silver, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(silver, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(silver, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(silver, black); /* Standard syntax */
    color: white;
    font-weight: bold;
    font-size: 30px;
    -moz-box-shadow:    inset 0 0 10px gray;
    -webkit-box-shadow: inset 0 0 10px gray;
    box-shadow:         inset 0 0 10px gray; 
    text-align: center;
    float: left;
    margin-right: 3px;
    margin-top: 3px;
    text-shadow: 0px 2px 1px gray;
    font-family: 'Knul Bold';
}

.totwplayername {
    height: 100%;
    width: 700px;
    float: left;
    margin-left: 20px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    font-size: 28px;
    text-align: left;
}

.totwplayertext {
    height: 230px;
    width: 100%;
    border-top: solid 10px transparent; 
    text-align: left;
    color: #3D3D3D;
}

.totwthumbnailleft, .totwthumbnailright, .totwthumbnailcenter {
    height: 100%;
    width: 33%;
    float: left;
    text-align: center;
    line-height: 280px;
}

#alltotwthumbnail1, #alltotwthumbnail2, #alltotwthumbnail3, #alltotwthumbnail4, #alltotwthumbnail5, #alltotwthumbnail6, #alltotwthumbnail7, #alltotwthumbnail8, #alltotwthumbnail9 {
    height: 223px;
    width: 375px;
    transition: all .2s ease-in-out;
}

#alltotwthumbnail1:hover, #alltotwthumbnail2:hover, #alltotwthumbnail3:hover, #alltotwthumbnail4:hover, #alltotwthumbnail5:hover, #alltotwthumbnail6:hover, #alltotwthumbnail7:hover, #alltotwthumbnail8:hover, #alltotwthumbnail9:hover {
    background-color: black;
    opacity: 0.6;
    transform: scale(1.075);
    cursor: pointer; 
    cursor: hand;
}

.alltotwplayersrow1 {
    width: 1188px;
    height: 240px; 
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: -1;
}

.alltotwplayercardinfosimilar {
    width: 1188px;
    height: 875px;
    margin-left: 350px;
    margin-right: 352px;
}

/* Tips & Tricks pages */

.tipstext {
    height: 230px;
    width: 1020px;
    border-left: solid 84px transparent;
    border-right: solid 83px transparent;
    border-top: solid 20px transparent; 
    text-align: left;
    color: #3D3D3D;
    font-size: 17px;
}

.tipsheaderimage {
    height: 500px;
    width: 100%;
    text-align: center;
}

#whattolookforincbdiv {
    width: 100%;
    height: 1225px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    text-align: center;
}

#whattolookforinfullbackdiv {
    width: 100%;
    height: 1000px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    text-align: center;
}

#whattolookforinmidfielderdiv {
    width: 100%;
    height: 1225px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    text-align: center;
}

#whattolookforinwingerdiv {
    width: 100%;
    height: 1150px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    text-align: center;
}

#whattolookforinstrikerdiv {
    width: 100%;
    height: 1100px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    text-align: center;
}

.tipsbackground {
    width: 1188px;
    height: 100%;
    margin-left: 350px;
    margin-right: 352px;
    text-align: center;
}

#alltipsdiv {
    width: 100%;
    height: 700px;
    /*background-color: #e5e6e9;*/
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    text-align: center;
}

#alltipsthumbnail1, #alltipsthumbnail2, #alltipsthumbnail3, #alltipsthumbnail4, #alltipsthumbnail5 {
    height: 223px;
    width: 375px;
    transition: all .2s ease-in-out;
}

#alltipsthumbnail1:hover, #alltipsthumbnail2:hover, #alltipsthumbnail3:hover, #alltipsthumbnail4:hover, #alltipsthumbnail5:hover {
    background-color: black;
    opacity: 0.6;
    transform: scale(1.075);
    cursor: pointer; 
    cursor: hand;
}

.alltipsplayercardinfosimilar {
    width: 1188px;
    height: 100%;
    margin-left: 350px;
    margin-right: 352px;
}

/* About page */

#aboutdiv {
    width: 950px;
    height: 300px;
    background: #e5e6e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b8b8b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #b8b8b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b8b8b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b8b8b8); /* Standard syntax */
    box-shadow: 0px 2px 5px black;
    position: fixed;
    left: 50%;
    top: 50%; 
    font-family: 'Open sans';
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    margin-left: -475px;
    margin-top: -200px;
    cursor: pointer; 
    cursor: hand;
    border: solid 4px silver;
    display: none;
    z-index: 10;
}

#aboutbackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    display: none;
}

/* Knul Fonts for player cards */

@font-face {
    font-family: 'Knul Bold';
    src: url('http://localhost/futsilvershtmlcss/fonts/knul-bold.eot'); 
    src: 
        url('http://localhost/futsilvershtmlcss/fonts/knul-bold.otf') 
        format('opentype');
    src: 
        url('http://localhost/futsilvershtmlcss/fonts/knul-bold.ttf') 
        format('truetype');
}

@font-face {
    font-family: 'Knul Extra Bold';
    src: url('http://localhost/futsilvershtmlcss/fonts/Knul-ExtraBold.eot'); 
    src: 
        url('http://localhost/futsilvershtmlcss/fonts/Knul-ExtraBold.otf') 
        format('opentype');
    src: 
        url('http://localhost/futsilvershtmlcss/fonts/Knul-ExtraBold.ttf') 
        format('truetype');
}

@font-face {
    font-family: 'Knul Regular';
    src: url('http://localhost/futsilvershtmlcss/fonts/Knul.eot'); 
    src: 
        url('http://localhost/futsilvershtmlcss/fonts/Knul.otf') 
        format('opentype');
    src: 
        url('http://localhost/futsilvershtmlcss/fonts/Knul.ttf') 
        format('truetype');
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
