* {
	margin: 0;
	padding: 0;
}

.input_container input {
	color: black;
    width: 700px;
    height: 45px;
    font-size: 26px;
    text-align: center;
    border: solid 1.5px black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.input_container ul {
	margin: -50px;
	color: black !important;
	text-transform: uppercase;
	width: 702px;
	position: absolute;
	z-index: 2;
	background: #f3f3f3;
	list-style: none;
	text-align: center;
	cursor: pointer;
	margin-left: 600.5px;
	margin-right: 600.5px;
	font-family: 'Open sans';
	box-shadow: 0px 2px 5px black;
	max-height: 235px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
}
.input_container ul li {
	border: solid 1px gray;
	height: 45px;
	line-height: 45px;
	font-size: 22px;
	text-align: left;
	padding-left: 10px;
	color: black !important;
}
.input_container ul li:hover {
	opacity:0.8;
    background-color: #e5e6e9;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
#player_list_id {
	display: none;
}


